body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    text-align: center;
    padding: 20px;
    color: #333;
}

.container {
    max-width: 630px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 14px;
}

h1 {
    font-size: 24px;
    color: #ff6b6b;
    height: 60px;
}

.buttons button {
    background-color: #ff6b6b;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #e84118;
}

#surprise {
    margin-top: 20px;
    font-size: 18px;
    color: #ff6b6b;
    display: block;
    text-align: justify;
    white-space: pre-line; /* Esto permite saltos de línea */
}

